.page-header
  %h1
    = I18n.t('activerecord.models.composition')
    / = link_to 'new', new_resource_url, class: 'btn btn-default pull-right'

- if collection.present?
  %table.table
    %thead
      %tr
        %th Название
        %th
    %tbody
      - collection.each do |col|
        %tr
          %td= col.title
          %td
            .pull-right.controls
              = link_to 'edit', edit_resource_url(col), class: 'btn btn-default'
              / = link_to 'delete', resource_url(col), method: :delete, class: 'btn btn-default'