.index-banner
  %i.is.banner-bell
  .visible-block
    %i.is.banner-fir-tree
    = image_tag 'banner-candies.png', class: 'is banner-candies'
    - if custom?('banner_santa')
      %i.is.banner-bals.visible-md.visible-lg
      %i.is.banner-santa.visible-md.visible-lg
        .action
          %span= custom('banner_santa')

    .banner-action
    /   АКЦИЯ! 
    /   %span ДО 29 СЕНТЯБРЯ
    /   %br
    /   СКИДКА
    /   %span 10%
    /   НА НАБОРЫ 3,5 КГ