= render 'index_banner'
= render 'title_line', text: 'Сколько стоит доставка?'
.container.-pseudo
  .row.delivery
    .col-xs-6
      .ckeditor-text
        %ul
          %li
            БЕСПЛАТНАЯ ДОСТАВКА
            %br
            по г.Минску при заказе на сумму более 5 млн. руб.
          %li
            БЕСПЛАТНАЯ ДОСТАВКА
            %br
            по РБ при заказе на сумму более 15 млн. руб.
          %li
            доставка по г. Минску 65 т.руб.
          %li
            доставка по Беларуси 150-500 т.руб. (в зависимости от местонахождения пункта разгрузки).
    .col-xs-6
      .delivery-car
        = image_tag('delivery-car.png')
        .action
          Мы осуществляем
          доставку по всей
          территории
          Республики Беларусь!

= render 'title_line', text: 'Как сделать заказ?'

