= render 'index_banner'
.container
  .row
    .col-md-3
    .col-md-6
      Дорогие друзья!, хотим познакомить Вас с шеф-поваром нашего кафе “PaPi”.
      Леонид Стёпкин. Молодой и талантливый повар. 5 лет работал в Санкт-Петербурге в ресторане «Аль Шарк» шеф-поваром. Позже переехал в Брест, где уже 3 года успешно работает су-шефом известного ресторана «Жюль Верн». Леонид не просто профессионал своего дела, он мастер, которого вдохновляет его работа и положительные отзывы гостей. Леонид признается, что сам очень любит блюда, приготовленные на гриле. А его кумир среди мастеров мировой кухни – Джеймс Тревор Оливер.
      Леонид будет рад видеть Вас в качестве гостя кафе “PaPi”